<table>
 <thead>
  <tr>
     <th>Stock Name</th>
     <th>Percent</th>
     <th>Three Minutes Rate</th>
  </tr>
 </thead>
 <tbody>
 	<% @xian_gus.each do |stock| %>
  <tr>
     <td><%= stock.stock_name %></td>
     <td><%= stock.percent_num %></td>
     <td><%= stock.three_minute_rate %></td>
  </tr>
  <% end %>
 </tbody>
</table>